@{
    ViewBag.Title = "Mani Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One of the Microsoft Employi<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">PH:</abbr>
    +91-888-6437-121
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">smkr364@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">manikumarreddy13@gmail.com</a>
</address>
